.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color:  #1f1010;
  display: flex; /* Use Flexbox */
  align-items: center; /* Vertically center the items */
  justify-content: space-between; /* Space between the items */
  padding-left: 5%;
  padding-right: 5%;
}

.logoCampusfit {
  color: #fff;
  text-align: center;
  font-family: Lemon;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.textHome {
  position: fixed;
  top: 15%;
  left: 32%;
  color: #fff;
  text-align: center;
  font-family: Lemon;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.headerButtons {
  text-decoration: none;
  position: relative;
  color: #fff;
  text-align: center;
  font-family: Jaldi;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
  border: none;
  cursor: pointer;
}

.roundShapeButton {
  position: fixed;
  top: 69%;
  left: 43.9%;
  width: 100px;
  height: 100px;
  background-color: #00FF00;
  border-radius: 50%; 
}
/* Appropriate styling for the day-schedule container */
.day-schedule {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #1f1010;;
  border: 1px solid #ccc;
  color:white;
}

/* Styling for the day name */
.day-schedule h2 {
  margin: 0;
  font-size: 18px;
}

/* Styling for the time slots container */
.time-slots {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

/* Styling for individual time slots */
.time-slot {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Styling for selected time slots */
.time-slot.selected {
  background-color: #ff5722; /* Change the color as desired */
}
