.App {
  overflow: hidden;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  z-index: 3;
  
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding-left: 5%;
  padding-right: 5%;
}

.logoCampusfit {
  color: #000000;
  text-align: center;
  font-family: Lemon;
  font-size: 40px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.textHome {
  align-items: center;
 
  color: #000000;
  position: relative;
  font-family: Lemon;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.headerButtons {
  z-index: 3;
  text-decoration: none;
  position: relative;
  color:#000000;
  text-align: center;
  font-family: Jaldi;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
  border: none;
  cursor: pointer;
}
.centered-container {
  transform:   translate(0%, -5%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.roundShapeButton {
  position: absolute;
  top: 95%;
  left: 46%;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%; 
  align-items: center;
}
.plus{
  color: #000000;
  font-family: Lemon;
  font-size: 40px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position:'relative';
  align-items: center;
}

.custom-day-header {
  color: rgb(0, 0, 0);
  
}
